<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>
	<listener>
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

<listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
</listener>
<context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/resources/log4j.properties</param-value>
</context-param>
	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>    
	        /WEB-INF/config/applicationContext-service.xml
	    </param-value>
	</context-param>

	<servlet>
		  <servlet-name>spring</servlet-name>
		  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		  <init-param>
		        <param-name>contextConfigLocation</param-name>
		        <param-value>
		            /WEB-INF/config/spring-context.xml
		        </param-value>
		    </init-param>
	</servlet>

	<servlet-mapping>
		  <servlet-name>spring</servlet-name>
		  <url-pattern>/spring/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
	  	<welcome-file>HSBCchat.jsp</welcome-file>
	</welcome-file-list>
</web-app>