@CHARSET "ISO-8859-1";

 #scrollbox1 {
    overflow: auto;
    width: 200px;
    height: 260px;
    padding: 0 5px;
    border: 1px solid #b7b7b7;
    background-color: rgb(250, 250, 250);
}
 .response{
background-color: rgb(216, 249, 255);
padding-left: 190;

}
.request{
background-color: rgb(216, 249, 255);
padding-right: 190; 

}
p#message_sent {
color: black;
postion: absolute;
right: 100;
border: darkgray;
background-color: rgb(250, 250, 250);
border-style: groove;
size: a3;
}
#msgArea {
width: 200px;
height: 70px;
margin: 6px;
border: none;
border-width: 1px;
color: #000000;
background-color: white;
margin-bottom: 10px;
overflow-y: auto;
overflow-x: hidden;
resize: none;
}
table {
border-color: lightgrey;
table-layout: fixed;
/* max-width:50%;
min-width:800px;
max-height:500px;
min-height:50%; */

/* width: 500;
height: 100; */ 
}


td#title {
background-color: white;
} 
/* body{
    height:300px;
    position: fixed;
    bottom: 15px;
    right:0;
}
#chat-window{
    bottom:0;
    position:right;
    float:right;
    margin-left:10px;
} */

/* td div { width: 100px; overflow-y: hidden; } */
/* .centerImage
{
text-align:left;
display:block;
} 

/* #content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
} */